{% extends "argus/base.html" %}

{% block page_title %}ArgusWatch{% endblock %}
{% block head_title %}ArgusWatch{% endblock %}

{% block content %}

<div class="panel panel-danger">
    <div class="panel-heading">Critical</div>
    <div class="panel-body">
        {% include "argus/services/service_table.html" with services=services_critical %}
    </div>
</div>


<div class="panel panel-warning">
    <div class="panel-heading">Warnings</div>
    <div class="panel-body">
        {% include "argus/services/service_table.html" with services=services_warning %}
    </div>
</div>



{% endblock content %}
