<div id="argus-nav" style="margin-bottom: 3em;">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{% url "argus_dashboard" %}">Dashboard</a>
        </li>
        <li class="active">
            <a href="{% url "argus_services_grouped_all" %}">Services (grouped)</a>
        </li>
        <li class="active">
            <a href="{% url "argus_services" %}">Services</a>
        </li>
        <li class="active">
            <a href="{% url "argus_service_groups" %}">Service Groups</a>
        </li>
        <li class="active">
            <a href="{% url "argus_service_configurations" %}">Service Configurations</a>
        </li>
    </ul>
</div>
