<div id="argus-nav" style="margin-bottom: 3em;">
    <ul class="nav nav-tabs">
        <li class="">
            <a href="{% url "argus_dashboard" %}">Dashboard</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Services <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="{% url "argus_services_grouped_all" %}">by Group</a>
                </li>
                <li>
                    <a href="{% url "argus_services" %}">List</a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="{% url "argus_service_groups" %}">Service Groups</a>
        </li>
        <li class="">
            <a href="{% url "argus_service_configurations" %}">Service Templates</a>
        </li>
    </ul>
</div>
