{% extends "argus/base.html" %}
{% load mptt_tags %}

{% block content %}
<ul>
    {% recursetree groups %}
    <li>

        <div class="group group-collapsible" id="group-{{ node.slug }}">
            <h3>
                <a data-toggle="collapse" data-parent="#group-{{ node.slug }}" href="#group-{{ node.slug }}-content">{{ node.name }}</a>
            </h3>

            <div class="collapsible-content collapse out" id="group-{{ node.slug }}-content">
                <div class="actions btn-group" style="display: inline-block;">
                    <a href="{% url "argus_service_create" %}" class="btn btn-primary btn-xs">Add Service</a>
                </div>
                
                {% if node.services.all.count %}
                {% include "argus/services/service_table.html" with services=node.services.all %} 
                {% endif %}

                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
                
            </div>
        </div>
    </li>
    {% endrecursetree %}
</ul>
{% endblock content %}
