{% extends "argus/base.html" %}
{% load helpers %}

{% block page_title %}Services{% endblock %}
{% block head_title %}Services{% endblock %}

{% block content %}

<div class="generics-list">
  {% if create_uri %} 
    <div class="actions">
        {% link create_uri create_label classes="btn btn-primary" %}
    </div>
    <br />
  {% endif %}

  {% block table %}
  {% include "argus/services/service_filter.html" %}
  {% include "argus/services/service_table.html" with services=object_list %}
  {% endblock %}
</div>
{% endblock %}
