{% extends "argus/base.html" %}
{% load helpers %}

{% block page_title %}Services{% endblock %}
{% block head_title %}Services{% endblock %}

{% block content %}

<div class="generics-list">
    
    <div>
        <a href="{% url "argus_services_grouped_all" %}" class="btn btn-lg btn-info">Show Services by Group</a>
    </div>
  
  {% if create_uri %} 
    <div class="actions">
        {% link create_uri create_label classes="btn btn-primary" %}
    </div>
  {% endif %}

  {% block table %}
  {% include "argus/services/service_filter.html" %}
  {% include "argus/services/service_table.html" with services=object_list %}
  {% endblock %}
</div>
{% endblock %}
