{% extends "argus/base.html" %}

{% block page_title %}Service Template: {{ object.name }}{% endblock %}
{% block head_title %}Service Template: {{ object.name }}{% endblock %}

{% block content %}

<div class="actions btn-group">
    <a href="{% url "argus_service_configuration_update" pk=object.id %}" class="btn btn-info">Edit</a>
    {% if not object.services.all.count %}
    <a href="{% url "argus_service_configuration_delete" pk=object.id %}" class="btn btn-danger">Delete</a>
    {% else %}
    <div class="label label-default">
        To delete, delete all related services first.
    </div>
    {% endif %}
</div>

<p class="description">{{ object.description }}</p>

<div class="notifications">
    <h2>Notifications</h2>

    <div class="actions">
        <a href="{% url "argus_notification_create" service_pk=object.id %}" class="btn btn-primary">Add Notification</a>
    </div>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for notification in object.notifications.all %}
        <tr class="{% if not notification.plugin_config %}warning{% else %}success{% endif %}">
            <td>
                <a href="{% url "argus_notification_detail" pk=notification.id %}">{{ notification.name }}</a>
            </td>
            <td class="">
                {% if not notification.plugin_config %}
                    <a href="{% url "argus_notification_configure" pk=notification.id %}" class="btn btn-danger btn-sm">Configure Plugin settings</a> 
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info btn-sm" href="{% url "argus_notification_update" pk=notification.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url "argus_notification_delete" pk=notification.id %}">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="services">
    <h3>Associated Services</h3>
    <ul>
        {% for service in object.services.all %}
        <li>
            <a href="{% url "argus_service_detail" pk=service.id %}">{{ service }}</a>
        </li> 
        {% endfor %}
    </ul>
</div>

{% endblock content %}