{% extends "argus/base.html" %}
{% load helpers %}

{% block page_title %}Service Templates{% endblock %}
{% block head_title %}Service Templates{% endblock %}

{% block content %}
<div class="generics-list">
  
  {% if create_uri %} 
    <div class="actions">
        {% link create_uri "New Template" classes="btn btn-primary" %}
    </div>
  {% endif %}

  {% block table %}
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

    {% for item in object_list %}
    <tr>
      <td class="name">
        <a href="{% url "argus_service_configuration_detail" pk=item.id %}">{{ item }}</a>
      </td>
      <td class="status"></td>
      <td class="actions">
        <div class="btn-group">
          {% if update_uri %}
            {% link update_uri "Edit" url_pk=item.id classes="edit btn btn-sm btn-info" %} 
          {% endif %}
          {% if delete_uri %}
            {% link delete_uri "Delete" url_pk=item.id classes="delete btn  btn-sm btn-danger" %} 
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endblock %}
</div>
{% endblock %}
